:root {
    --ndeg: 0deg;
}

.wrap {
    width: 640px;
}

.img {
    width: 100%;
}

.needle {
    position: absolute;
    left: 314.5px;
    top: 124.5px;
    transform:rotate(var(--ndeg));
}

table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}